<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="console" />
      <appender-ref ref="file" />
    </root>
    <appender name="console" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date | %level | %logger - %message%newline" />
      </layout>
    </appender>
    <!-- This part below is configurable through the setup screen! -->
    <appender name="file" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString">
        <conversionPattern value="LogFiles\SitatexIP-%date{yyyy-MM}.log" />
      </file>
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="2MB" />
      <staticLogFileName value="true" />
      <!--
      <layout type='log4net.Layout.SerializedLayout, log4net.Ext.Json'>
        <decorator type='log4net.Layout.Decorators.StandardTypesFlatDecorator, log4net.Ext.Json' />
        <default value='nxlog' />
        --><!--explicit default members--><!--
        <remove value='Message' />
        --><!--remove the default preformatted message member--><!--
        <member value='Message:messageobject' />
        --><!--add raw message--><!--
      </layout>
      -->
      <!--<layout type="log4net.Layout.Json.JsonLayout"></layout>-->
      <!--
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date § [%thread] § %level § %logger ¦ %message%newline%date%exception%newline" />
      </layout>
      -->
      <!-- In the Future
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="{&quot;EntryDate&quot;:&quot;%date{yyyy-MM-dd HH:mm:ss.fff zzz}&quot;, &quot;Level&quot;:&quot;%level&quot;, &quot;Logger&quot;:&quot;%logger&quot;, &quot;Message&quot;:&quot;%message&quot;, &quot;Properties&quot;:&quot;%properties&quot;, &quot;Location&quot;:&quot;%location&quot;, &quot;Exception&quot;:&quot;%exception&quot;} %newline" />
      </layout>
      -->
      <!--<layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="{&quot;EntryDate&quot;:&quot;%date{yyyy-MM-dd HH:mm:ss.fff zzz}&quot;, &quot;Level&quot;:&quot;%level&quot;, &quot;Logger&quot;:&quot;%logger&quot;, &quot;Message&quot;:&quot;%message&quot;, &quot;Exception&quot;:&quot;%exception&quot;} %newline" />
      </layout>-->
      <layout type="log4net.Layout.XmlLayoutSchemaLog4j">
        <locationInfo value="true" />
      </layout>
    </appender>
  </log4net>
</configuration>